.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid $color-1;
  // margin-bottom: 20px;

  @media screen and(max-width: 750px) {
    flex-direction: column;
    height: 100px;
    // background-color: aqua;
  }

  .logo-container {
    position: relative;
    top: 3px;
  }

  .hello-container {
    width: 30%;
    height: 100%;

    @media screen and(max-width: 750px) {
      width: 100%;
    }
  }

  .ul-hello {
    display: flex;
    align-items: center;
    padding-top: 8px;

    .li-hello {
      font-weight: 600;
      margin: auto;
      text-align: center;

      @media screen and(max-width: 750px) {
        width: 50%;
      }
    }

    // Concerne le logout et profil
    ul {
      @media screen and(max-width: 750px) {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .logout-account {
    transform: scale(1);
    transition: 0.3s;

    &:hover {
      text-align: center;
      transform: scale(1.1);
    }
  }
}