.profil-container {
    width: 30%;
    height: 500px;
    background-color: lighten($color-2, 3%);
    border: 1px solid $color-1;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .img-container {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        // border: 1px solid black;
        background-color: white;
        object-fit: cover;

        // background-color: red;
        img {
            width: 203px;
            height: 203px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    form {
        height: 30%;
        // background-color: azure;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            font-size: 1.1em;
        }

        #pseudo {
            border: 1px solid black;
            border-radius: 10px;
            width: 100%;
            height: 25px;
            text-align: center;

        }


    }

    .submitBtn,
    .submitBtnDelete {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 25px;
        background-color: $color-1;
        transform: scale(1);
        transition: 0.2s;
        font-size: 1em;

        &:hover {
            transform: scale(1.1);

        }
    }

    .submitBtnDelete {
        width: 70%;
    }

}