// Find font
// Kick out marge ...

$color-1: #FD2D01;
$color-2: #FFD7D7;
$color-3: #4E5166;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    color: black;
}